.pokecard {
    background-color: #dddddd;
    width: 150px;
    height: 200px;
    display: inline-grid;
    margin: 20px;
    border-radius: 7px;
}

.pokecard-name {
    color: blue;
    padding-top: 10px;
    margin-bottom: 0px;
}

.pokecard-desc {
    color: black;
    font-size: 12px;
    list-style-type: none;
    padding-bottom: 5px;
}

ul {
    margin: 0;
    padding: 0;
    border: 0;
}

.pokecard-image {
    margin: auto;
    width: 50%;
    height: auto; 

}


